

a {
  text-decoration: none;
  color: #000;
}

.main {
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: flex;

  &__leftbar {
    width: 25%;
    height: 1000px;
  }

  &__content {
    width: 73%;
    height: 1000px;
    margin-left: 2%;
  }
}

.title {
  padding: 10px;

}